
<mat-card style="margin-top:1%;margin-left:15%;margin-right:15%;margin-top:10%">
  <mat-card-header>
    <mat-card-title>
      Хабы
    </mat-card-title>
    <mat-card-subtitle>
      Управление хабами
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef> Статус </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.active" style="color:darkgreen">
              <mat-icon>check</mat-icon>
            </span>
            <span *ngIf="!element.active" style="color:darkred">
              <mat-icon>close</mat-icon>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Название </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> URL </th>
          <td mat-cell *matCellDef="let element"> {{element.url}}:{{element.port}} </td>
        </ng-container>

        <ng-container matColumnDef="servers">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Сервера </th>
          <td mat-cell *matCellDef="let element">
            <span (click)="routeToServers(element.id)" style="cursor:pointer">
            {{element.servers.length}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button *ngIf="!element.active" (click)="openDialog(1,element)" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Редактировать</span>
              </button>

              <button *ngIf="!element.active" (click)="delete(element.id)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Удалить</span>
              </button>

              <button *ngIf="element.active" (click)="addServer(element.id)" mat-menu-item>
                <mat-icon>add</mat-icon>
                <span>Добавить сервер</span>
              </button>

              <button *ngIf="element.servers.length>0" (click)="removeAllServers(element.id)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Удалить все сервера</span>
              </button>

            </mat-menu>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      <button mat-raised-button color="primary" (click)="openDialog(0)" style="margin:10px;">Добавить хаб</button>
    </div>


  </mat-card-content>

</mat-card>
