<div style="margin-left:5%;margin-right:5%;margin-top:10%">
  <div class="card" style="width:150px;height:150px;background-color:aliceblue;margin-left:25%">
    <div style="width:100%;text-align:center"><h2>Хабы</h2></div>
    <div style="height:50%">
      <div style="cursor:pointer" (click)="goToKeys(0)" class="textCard"><h2>{{total}}</h2></div>
    </div>
  </div>

  <div class="card" style="width:150px;height:150px;background-color:aliceblue">
    <div style="width:100%;text-align:center"><h2>Сервера</h2></div>
    <div style="height:50%">
      <div style="cursor:pointer" (click)="goToKeys(1)" class="textCard"><h2>{{subscribed}}</h2></div>
    </div>
  </div>

  <div class="card" style="width:150px;height:150px;background-color:aliceblue">
    <div style="width:100%;text-align:center"><h2>Игроки</h2></div>
    <div style="height:50%">
      <div style="cursor:pointer" (click)="goToKeys(2)" class="textCard"><h2>{{infinite}}</h2></div>
    </div>
  </div>

</div>

